<div class="container">
    <div class="row" id="profilepic">
        <div class="col-md-3"><%= image_tag @profile.profile_image.url(:medium) %></div>
    </div>
    <div class="row">
        <div class="col-md-3" id="profilename"><%= @profile.first_name %> <%= @profile.last_name %></div>
        <div class="col-md-3" id="profileoccup"><%= @profile.occupation %></div>
        <div class="col-md-3" id="profilecity"><%= @profile.city %></div>
        <div class="col-md-3"><%= @profile.gender.capitalize %></div>
        <div class="col-md-3"><%= @profile.birthdate %></div>
        <div class="col-md-3">        <li><%= link_to 'Edit Profile', edit_profile_path %></li>
        <li><%= link_to 'Cancel Account?', edit_user_registration_path %></li></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-6">Favorite Movie Types:</div>
        <div class="col-md-6"><% if @profile.comedy %>
      <div>Comedy</div>
      <% end %>
      <% if @profile.adventure %>
      <div>Adventure</div>
      <% end %>
      <% if @profile.drama %>
      <div>Drama</div>
      <% end %>
      <% if @profile.thriller %>
      <div>Thriller</div>
      <% end %>
      <% if @profile.horror %>
      <div>Horror</div>
      <% end %>
      <% if @profile.romantic_comedy %>
      <div>Romantic Comedy</div>
      <% end %>
      <% if @profile.musical %>
      <div>Musical</div>
      <% end %>
      <% if @profile.documentary %>
      <div>Documentary</div>
      <% end %></div>
    </div>
    <div class="row"></div>
</div>



    <div class="col-md-3">
      <% if @profile.gender != nil %>
      <h4>Gender: </h4>
      <% else %>
      <h4>Gender: <%= @profile.gender %></h4>
      <% end %>
      <h4>DOB: </h4>
      <h4></h4>
      <div class="text-left">
      
      </div>
    </div>
    <div class="col-md-3">
      <ul>

      </ul>
    </div>
    <div class="col-md-3">
      <h3>Currently Reading</h3>
      <h3>My Starred Scripts</h3>
      <h3>Read Later Scripts</h3>
    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span> Edit Profile</span>
</button> -->
