<!-- This code block is for the SCRIPT UPLOAD section-->
<!-- The Form groups below are the different fields in our "Panel-body" -->


<!--Code block to help prevent unknown formats upload -->
<%= form_for @link, html: { multipart: true } do |f| %>

  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--This is form where users upload image, name script, etc.. -->

  <div class="panel panel-default">
    <div class="panel-body">

  <div class="form-group">
    <%= f.label :Cover_Image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Screenplay_title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Written_By %><br>
    <%= f.text_field :written_by, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Plot_Description %><br>
    <%= f.text_field :plot_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Estimated_Budget %><br>
    <%= f.text_field :estimated_budget, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Script_URL %><br>
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list , "Tags (separated by commas)" %><br>
    <%= f.text_field :tag_list %>
  </div>

  <div class="form-group" id="submitbutton">

  </div>

<!-- Submit button that points to BOOTSTRAP Modal-->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Submit Script
</button>

<!-- Terms and Conditions Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
      </div>
      <div class="modal-body">
        <h4>WebbyWood Terms & Conditions</h4>
        <p>All copyright, trademarks, design rights, patents and other intellectual property rights (registered and unregistered) in and on WebbyWood Services are assumed to belong to the User or third parties (which may include you or other users) uploading the desired script.</p>
        <p>While WebbyWood encourages open-source community sharing of creative resources, we highly recommend one register their material under copyright. </p>
        <p>Nothing in the Terms grants you a right or licence to use any trade mark, design right or copyright owned or controlled by WebbyWood or any other third party except as expressly provided in the Terms.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class= "btn btn-lg btn-danger" data-dismiss="modal">Cancel</button>
        <%= f.submit "Submit Script", class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<% end %>
