<!-- This code block is for the MAIN Script list aka the home page -->
<!-- We are currently running into issues with displaying title and functional link (11/5/15 @ 9am ET) -->

<div class="container" id="mainindexbody">
<% @links.each do |link| %>

<div class="link" display="inblock">
  <h2>
    <td><%= image_tag link.image.url(:medium) %></td>
    <%= link_to link.title, link %><br>
  </h2>
    <h4><div>Submitted by</div><%= link.user.profile.first_name %></h4>
    <h4><div>Written by</div><%= link.written_by %></h4>
    <h5><div><strong>Plot:</strong><i></div><%= link.plot_description %></h5></i>
    <h6><div><strong>Estimated Budget:</strong></div><%= link.estimated_budget %></h6>

    <p>
        Tags: <%= raw link.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </p>

    <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></small>


   <div class="btn-group">
    <a class="btn btn-default btn-sm" href="<%= link.url %>">
      View Script
    </a>

    <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
      <%= link.get_upvotes.size %>
    <% end %>

    <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-down">
        Downvote
      <%= link.get_downvotes.size %>
    <% end %>

    </div>
  </div>

  <% end %>
</div>

