<!-- When you click on a script from the homepage, this is the page you are taken too -->
<!-- This section includes headers,script images, upvote/downvote likes -->
<div class="overlay">
<div class="container" id="mainindexbody">

<!-- PDFreader set up to be used in the rest of the document -->
<% url = open(@link.url) %>
<% reader = PDF::Reader.new(url) %>
<!-- Do not remove -->

<!--Script title -->
<div class="page-header">
    <h1><a href="<%= @link.url %>"><%= @link.title %></a><br><br> <small>Submitted by <%= @link.written_by %></small></h1>
    <h4><div>Written by</div><%= @link.written_by %></h4>
    <h5><div><strong>Plot:</strong><i></div><%= @link.plot_description %></h5></i>
    <h6><div><strong>Estimated Budget:</strong></div><%= @link.estimated_budget %></h6>
    <h6><div>Page Count:</div><%= reader.page_count %></h6>
</div>


<!--Script Image -->
<div class="script">
	<%= image_tag @link.image.url(:medium) %>
</div>

<br>

<!--Visit URL button -->
<div class="btn-group">
	<%= link_to 'Read Script', @link.url, class: "btn btn-primary" %>
</div>

<!--If user is the CURRENT user give them the option to edit or destory their post -->
<% if @link.user == current_user -%>
	<div class="btn-group">
		<%= link_to 'Edit Script', edit_link_path(@link), class: "btn btn-default" %>
		<%= link_to 'Delete Script', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
<% end %>

<!--Upvote and Down vote buttons -->
<div class="btn-group pull-right">
	<%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
	<span class="glyphicon glyphicon-chevron-up"></span>
	Upvote
	<%= @link.get_upvotes.size %>
	<% end %>
	<%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
	<span class="glyphicon glyphicon-chevron-down">
		Downvote
		<%= @link.get_downvotes.size %>
		<% end %>
</div>

<!-- This Section represents the TAGS for a script -->
<br><br><br>
  <% @link.tags.any? %>
  <% @link.tags.each do |tag| %>
  <%= link_to tag.name, tag_path(tag) %>
<% end %>
<!-- End of TAGS section -->


<!--This is the comment section where users can commment on the script -->
<h3 class="comments_title">
	<%= @link.comments.count %> Comments
</h3>


<div id="comments">
	<%= render :partial => @link.comments %>
</div>

<% if user_signed_in? -%>
	<%= simple_form_for [@link, Comment.new] do |f| %>
	<div class="field">
		<%= f.text_area :body, class: "form-control" %>
	</div>
	<br>
	<%= f.submit "Add Comment", class: "btn btn-primary" %>
	<% end %>
<% end -%>

<div>

</div>
</div>

<!--End of comment section -->
