<!--This section represents our NAVBAR/HEADER used throughout our application -->


 <header class="navbar navbar-inverse" role="navigation">
    <div class="navbar-inner">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

      <div class="container">
        <div id="logo" class="navbar-brand" class="navbar-brand" href="#"><%= link_to "WebbyWood", root_path %></div>

        <nav class="collapse navbar-collapse navbar-ex1-collapse">
          <% if user_signed_in? -%>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Script List', links_path %></li>
              <li><%= link_to 'Submit Script', new_link_path %></li>
              <li><%= link_to 'Profile', profile_path(current_user.profile) %></li>
              <li><%= link_to 'Account', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          <% else -%>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
            </ul>
          <% end -%>
        </nav>
      </div>
    </div>
  </header>


<!--If you'd like to enable flash messages, Uncomment the section below -->


<!--   <div id="main_content" class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

    </div> -->

  </div>
