<!-- This section contains are application scripts  -->

<!DOCTYPE html>
<html>
<head>
  <title>WebbyWood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
 <%= render 'layouts/header' %>

 <%= yield %>

</body>
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
</html>